[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/deepak/Desktop/deepak.txt]
row=5
col=0

[/home/deepak/Desktop/flappy_bird-v1-3.apk]
row=0
col=1

[/home/deepak/Desktop/Apktool]
row=4
col=0

[2023-11-30-14-30-34-00]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/deepak]
row=2
col=0

